<ActionBar title="Details" class="action-bar"></ActionBar>

<GridLayout rows="*" columns="*" class="page">
  <StackLayout class="m-15">
    <Label class="h2" [text]="item.id + '. ' + item.name"></Label>
    <Label class="h4" [text]="item.role"></Label>
    <TextField #textField3 id="tf3" [(ngModel)]="item.email" hint="email@domain.com" keyboardType="email" borderColor="#eee" borderWidth="1" class="h4"></TextField>
  </StackLayout>

  <KeyboardToolbar forId="tf3" height="44">
    <GridLayout columns="auto, *" class="toolbar">
      <Label col="0" [text]="emailOK() ? '✅ looks good!' : '❌ email not OK yet..'" class="m-l-10" verticalAlignment="center" horizontalAlignment="center"></Label>
      <Button col="2" text="Close" verticalAlignment="center" horizontalAlignment="right" class="m-r-10" (tap)="closeKeyboard(textField3)"></Button>
    </GridLayout>
  </KeyboardToolbar>

</GridLayout>
